/* ===Нормализация=== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* ===Основной-контент=== */

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 30px;
  padding: 133px 30px;
}

/* ===RESULT=== */

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  inset: 0;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 0;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

/* --форма-текст-- */

.search-form__textfield {
  width: 225px;
  height: 27px;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
  color: #fff;
  appearance: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  font-family: 'Fira Sans Condensed', sans-serif;
  padding: 0 1px;
}

.search-form__textfield::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  color: rgb(255, 255, 255, 0.7);
  font-family: 'Fira Sans Condensed', sans-serif;
}

.search-form__textfield:focus {
  outline: 0;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

/* --форма-чекбоксы-- */

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 1px;

}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  opacity: 1
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

/* /* похоже что этот стиль применять не нужно, потому что элемент имеет доп класс visually-hidden
   и обводку будет не видно в любом случае */
/* .search-form__checkbox:focus {
  outline: 0;
} */

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid;
}


/* ===CONTENT__DETAILS=== */

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-weight: 700;
  font-size: 75px;
  line-height: 0.9334;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  /* Сдвиг для компенсации зазора,
   создаваемого метриками шрифта (ascender/descender).
   Нужен для визуального совпадения с макетом. */
  /* transform: translateY(3px); */
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__list-container {
  position: relative;
  inset: 0;
  height: 298px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}


/* ===КНОПКИ=== */

.button {
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  font-family: inherit;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

/* ПОЧЕМУ?? У ОДНОЙ КНОПКИ СРАБАТЫВАЕТ ФИКСИРОВАННЫЙ height: 34px; А У ВТОРОЙ ТОЛЬКО ВМЕСТЕ СО СВОЙСТВОМ  line-height: 34px;*/
/* при применении flex необходимо указывать min-height, обычная высота корректно работать не будет*/

.more-button {
  width: 100%;
  /* line-height: 34px; */
  min-height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:focus {
  outline: 0;
}

.button:focus-visible {
  outline: 1px solid;
  outline-offset: 1px;
}

/* ===ТЕМПЛЕЙТЫ=== */

/* ---preloader--- */

.preloader-template {
  position: absolute;
}

/* ---cards-list-item--- */

.content__list-item {
  padding: 0 3px;
}

.content__card-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  display: block;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: 0;
}

.content__card-link:focus-visible {
  outline: 1px solid;
}

.content__video-card {
  display: flex;
  align-items: flex-start;

  padding: 2px 0;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
  margin-bottom: 5px;
  /* Сдвиг для компенсации зазора,
   создаваемого метриками шрифта (ascender/descender).
   Нужен для визуального совпадения с макетом. */
  /* line-height: 1;
  transform: translateY(1px); */
}

.content__video-card-description {
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Сдвиг для компенсации зазора,
   создаваемого метриками шрифта (ascender/descender).
   Нужен для визуального совпадения с макетом. */
  /* transform: translateY(6px); */
}

.content__video-card-description-container {
  max-width: 196px;
  flex-grow: 1;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217, 217, 217, / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}